body {
    background-color: rgb(36, 40, 44); /* cor de fundo escura para todo o site */
}

#janela { /* estilo para a janela principal */
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    padding-bottom: 15%;
}

h1 { /* estilo para o título principal */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 232, 241);
}


#UX { /* estilo para o resultado */
    padding-top: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 232, 241);
}

button { /* estilo para o botão */
    align-items: left;
    margin-top: 40px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgb(110, 179, 235);
    border-radius: 8px;
    transition: 0.3s;
    display: flex;
    color: rgb(221, 232, 241);
    font-family: Arial, Helvetica, sans-serif;
}

button:hover { /* estilo para o botão quando o mouse está sobre ele */
    background-color: rgb(110, 179, 235);
    transform: scale(1.1);
    filter: brightness(1.2);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}


#interacao-do-usuario {
    text-align: center;
    margin-top: 40px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(221, 232, 241);
}

#interacao-do-usuario input {
    color: rgb(255, 255, 255);
    background-color: rgb(38, 38, 39);
    font-family: Arial, Helvetica, sans-serif
}

#numero_decimal_input {
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(110, 179, 235);
    margin-left: 10px;
}

#converter_button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid rgb(110, 179, 235);
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 0.3s;
}

img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    background-color: transparent;
}
